<footer class="we-are-fresh" id="contact">
    <div class="container container-bottom">
        <div class="logo-footer text-left">
            <h1>LevelUp</h1>
            <span>Copyright @2020</span>
        </div>
    </div>
</footer>