<div class="navbar-mobile">
    <!-- hamburger -->
    <div>
        <input type="checkbox" id="navi-toggle" class="checkbox" />
        <label for="navi-toggle" class="button" id="open">
            <span class="icon"><span></span></span>
        </label>
        <div class="background">&nbsp;</div>
        <div id="logo-mobile" class="container levelup-logo"><a class="navbar-brand logo wow fadeInDown"
            href="/">LevelUp</a></div>
        <nav class="navigation-mobile">
            <ul class="navbar-nav list">
                <li class="item">
                    <a class="link" id="link2" href="#wedo">Wedo</a>
                </li>
                <li class="item">
                    <a class="link" id="link3" href="#ourwork">Our Work</a>
                </li>
                <li class="item">
                  <a class="link" id="link3" href="#clients">Clients</a>
              </li>
                <li class="item">
                    <a class="link" id="link4" href="#contact">Contact</a>
                </li>
                <li class="link navbar-mobile-contact interest">
                    <p>Interested in working with us? <br>
                        Say Hi</p>
                    <a class="line" href="mailto:hi@levelup.id">hi@levelup.id</a>
                </li>
                <li class="link navbar-mobile-contact line"></li>
            </ul>

        </nav>
    </div>

    <!-- nav -->
</div>




<nav class="navbar navbar-dekstop navbar-expand-lg navbar-dark navbar--custom">
    <div class="container">
      <a class="navbar-brand logo" href="#">LevelUp</a>
      <button class="navbar-toggler" type="button" id="toggle" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a id="link1" class="nav-link" href="#wedo">Wedo</a>
          </li>
          <li class="nav-item">
            <a id="link2" class="nav-link" href="#ourwork">Our Work</a>
          </li>
          <li class="nav-item">
            <a id="link3" class="nav-link" href="#clients">Clients</a>
          </li>
          <li class="nav-item">
            <a id="link4" class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>