{% extends "layout.html" %} {% block styles %} {% endblock %} {% block content
%}


<a href="/newbie">
  <div class="btn refresh-btn">

    <div>
      Still don’t <br>
      get it, <br>
    </div>


    <span id="reload">

    </span>
  </div>
</a>




<div class="fresh">
  <div class="lemon"><img src="img/lemon.png" alt="Fresh and Healthy for your Business"></div>

  <section class="hero-section">
    <img src="img/splash.png" alt="Fresh and Healthy" class="splash">
    <div class="container">
      <h1>
        <div class="title mb-small">Fresh <br> & Healthy</div>
        <div class="title--desc">For Your Business</div>
      </h1>
    </div>
  </section>

  <section class="offer" id="wedo">
    <div class="container">
      <h2 class="position-relative title title-white mb-med">May we offer you?</h2>



      <div class="position-relative im-height">
        <div class="containerX row text-center">
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-small">
            <a class="video-btn title-white" data-toggle="modal" data-src="https://www.youtube.com/watch?v=SfzMWPQL0I8" data-target="#myModal">
              <div class="single">
                <h3 class="mb-small">Visual <br> Production</h3>
                <span class="single-btn">
                  Play Showreel
                </span>
              </div>
            </a>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-small">
            <a class="title-white">
              <div class="single">
                <h3 class="mb-small">Web/App <br> Development</h3>
                <span class="single-btn">
                  See Works
                </span>
              </div>
            </a>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-med">
            <a class="title-white">
              <div class="single">
                <h3 class="mb-small">Digital <br> Solutions</h3>
                <span class="single-btn">
                  Cooming Soon
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="offer-desc mt-5 mb-big">
        <div class="desc-text">Reduce your work and focus on your best tasks.</div>
        <h4 class="desc-title">
          Enjoy your life and keep healthy.
        </h4>
        <div class="desc-text mt-3">We are here to help :)</div>
      </div>


    </div>

  </section>


  <section class="work" id="ourwork">
    <img src="img/splash-small.png" alt="Fresh and Healthy" class="splash">
    <div class="container">
      <h1 class="title mb-med">Fresh Work</h1>
    </div>
    <div class="swiper-container dekstop">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide-container">
            <div class="work-single">
              <a class="slide-btn" data-toggle="modal" data-src="https://docs.google.com/presentation/d/1i5GqlrxlyTvIbGowgDXJT823apxU-4LOZ9A69GUdG10/embed" data-target="#myModal2"><img src="img/work-cap-kaki-3.png" alt="Cap Kaki 3 Work"></a>
              <div class="work-head">
                <h3 class="work-title">Cap Kaki Tiga - P3D Microsite</h3>
                <a class="btn btn-work slide-btn" data-toggle="modal" data-src="https://docs.google.com/presentation/d/1i5GqlrxlyTvIbGowgDXJT823apxU-4LOZ9A69GUdG10/embed" data-target="#myModal2">Detail</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-container">
            <div class="work-single">
              <a class="slide-btn" data-toggle="modal" data-src="https://docs.google.com/presentation/d/1i5GqlrxlyTvIbGowgDXJT823apxU-4LOZ9A69GUdG10/embed" data-target="#myModal2"><img src="img/work-wuling.png" alt="Wuling - Website Revamp"></a>
              <div class="work-head">
                <h3 class="work-title">Wuling - Website Revamp</h3>
                <a class="btn btn-work slide-btn" data-toggle="modal" data-src="https://docs.google.com/presentation/d/1i5GqlrxlyTvIbGowgDXJT823apxU-4LOZ9A69GUdG10/embed" data-target="#myModal2">Detail</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-container">
            <div class="work-single">
              <a class="video-btn" data-toggle="modal" data-src="https://www.youtube.com/watch?v=8cyij06enmg" data-target="#myModal">
                <img src="img/work-indosat-motion.png" alt="Indosat - Motion Graphic Work"></a>
              <div class="work-head">
                <h3 class="work-title">Indosat Motion Graphic</h3>
                <a class="btn btn-work video-btn" data-toggle="modal" data-src="https://www.youtube.com/watch?v=8cyij06enmg" data-target="#myModal">Detail</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-container">
            <div class="work-single">
              <a class="video-btn" data-toggle="modal" data-src="https://www.youtube.com/watch?v=qD0J5lPQfj8" data-target="#myModal"><img src="img/SalesUp.png" alt="SalesUp Video Explainer"></a>
              <div class="work-head">
                <h3 class="work-title">SalesUp Video Explainer</h3>
                <a class="btn btn-work video-btn" data-toggle="modal" data-src="https://www.youtube.com/watch?v=qD0J5lPQfj8" data-target="#myModal">Detail</a>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-container">
            <div class="work-single">
              <a class="slide-btn" data-toggle="modal" data-src="https://docs.google.com/presentation/d/1OhMwHSL2pw3Njx5U6qr4hPGGaF_g-irJ3b_wR6LQ3L8/embed" data-target="#myModal2">
                <img src="img/RPX.png" alt="RPX Work"></a>
              <div class="work-head">
                <h3 class="work-title">RPX</h3>
                <a class="btn btn-work slide-btn" data-toggle="modal" data-src="https://docs.google.com/presentation/d/1OhMwHSL2pw3Njx5U6qr4hPGGaF_g-irJ3b_wR6LQ3L8/embed" data-target="#myModal2">Detail</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev">
        <div class="carousel-arrow left">
          <div class="arrow prev">
            <img src="img/arrow.svg" alt="">
          </div>
        </div>
      </div>

      <div class="swiper-button-next">
        <div class="carousel-arrow right">
          <div class="arrow next">
            <img src="img/arrow.svg" alt="">
          </div>
        </div>
      </div>
    </div>




  <div class="mobile container">

    <div class="work-carousel-mobile">

      <div>
        <div class="work-single">
          <div class="">
            <img src="img/work-cap-kaki-3.png" alt="Cap Kaki Tiga - P3D Microsite">
          </div>
          <div class="work-head">
            <h3 class="work-title">Cap Kaki Tiga - P3D Microsite</h3>
            <a class="btn btn-work slide-btn" data-toggle="modal" data-src="https://docs.google.com/presentation/d/1kiRePUAL6k8WLTiU75bft3mp5isn2x0uZ01VNNuiiNo/embed" data-target="#myModal2">Detail</a>
          </div>
        </div>
      </div>

      <div>
        <div class="work-single">
          <div class="">
            <img src="img/work-wuling.png" alt="Wuling - Website Revamp">
          </div>
          <div class="work-head">
            <h3 class="work-title">Wuling - Website Revamp</h3>
            <a class="btn btn-work slide-btn" data-toggle="modal" data-src="https://docs.google.com/presentation/d/1TM2AfHxOoCuQb0Ax0Dpgc8jX3rs82qZHN3tQilmrHl8/embed" data-target="#myModal2">Detail</a>
          </div>
        </div>
      </div>
      <div>
        <div class="work-single">
          <div class="">
            <img src="img/work-indosat-motion.png" alt="Indosat Motion Graphic">
          </div>
          <div class="work-head">
            <h3 class="work-title">Indosat - Motion Graphic</h3>
            <a class="btn btn-work video-btn" data-toggle="modal" data-src="https://www.youtube.com/watch?v=8cyij06enmg" data-target="#myModal">Detail</a>
          </div>
        </div>
      </div>
      <div>
        <div class="work-single">
          <div class="">
            <img src="img/SalesUp.png" alt="Indosat - Motion Graphic">
          </div>
          <div class="work-head">
            <h3 class="work-title">SalesUp Video Explainer</h3>
            <a class="btn btn-work video-btn" data-toggle="modal" data-src="https://www.youtube.com/watch?v=qD0J5lPQfj8" data-target="#myModal">Detail</a>
          </div>
        </div>
      </div>
      <div>
        <div class="work-single">
          <div class="">
            <img src="img/RPX.png" alt="Indosat - Motion Graphic">
          </div>
          <div class="work-head">
            <h3 class="work-title">RPX</h3>
            <a class="btn btn-work slide-btn" data-toggle="modal" data-src="https://docs.google.com/presentation/d/1OhMwHSL2pw3Njx5U6qr4hPGGaF_g-irJ3b_wR6LQ3L8/embed" data-target="#myModal2">Detail</a>
          </div>
        </div>
      </div>

    </div>
  </div>




  </section>


</div>

<div class="healthy">
  <div class="healthy-lemon"><img src="img/lemon-360.png" alt="Fresh and Healthy for your Business"></div>

  <section class="client" id="clients">
    <img src="img/splash-client.png" alt="Fresh and Healthy" class="splash">
    <div class="container">
      <div class="title mb-med">
        Happy Clients
      </div>
      <div class="row">
        <div class="col-6 col-sm-4 my-3">
          <a class="title-white" href="http://trys.co" target="_blank" rel="noopener noreferrer">
            <div class="single">
              <img src="img/client-trys.png" alt="Client Trys">
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-4 my-3">
          <a class="title-white" href="https://www.iris-worldwide.com/" target="_blank" rel="noopener noreferrer">
            <div class="single">
              <img src="img/client-iris.png" alt="Client Iris">
            </div>
          </a>
        </div>
        <div class="col-6 col-sm-4 my-3"></div>
      </div>
    </div>
  </section>

  <section class="contact position-relative" id="contact">

    <div class="container container-top mt-5">
      <div class="rowx">
          <h4 class="title mb-big w-md-90">Interested?
            <div class="footer-cta mt-5">
              <span></span>
              <a href="mailto:hi@levelup.id">Order Here</a>
            </div>    
          </h4>
          <div class="col-12 mb-med">
              <ul>
                  <li>
                      <i class="fa" aria-hidden="true"><img src="img/location.svg" alt="our location"></i>
                      <span>
                          <strong>PT. Kolaborasi Cipta Solusi</strong> <br>
                          Centennial Tower. Level 29, Jl. Jend Gatot Suboto Kav 24-25, <br>
                          Karet Semanggi, Jakarta Selatan 12950.
                      </span>
                  </li>
                  <li>
                      <i class="fab"><img src="img/wa.svg" alt="our whatsapp"></i>
                      <span><strong>+62 878-2288-0060</strong></span>
                  </li>
                  <li>
                      <i class="fas"><img src="img/email.svg" alt="our email"></i>
                      <span>
                          <strong><a href="mailto:hi@levelup.id">hi@levelup.id</a></strong>
                      </span>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  </section>

</div>


{% endblock %} {% block scripts %} {% endblock %}
