.fresh {
    background: $primary;
    height: max-content;
    position: relative;
    overflow: hidden;

    .lemon {
        position: absolute;
        right: 5vw;
        top: 15vh;

        @media(max-width: 990px) {
            right: -55vw;
            top: 10vh;
        }

        @media(max-width:640px) {
            right: -14vw;
            top: 45vh;
        }


        img {
            width: auto;
            height: 50vh;

            @media(max-width: 990px) {
                z-index: 1;
                height: 90vh;
            }

            @media(min-width: 991px) {
                height: 50vh;
            }


            @media(min-width: 1024px) {
                height: 80vh;
            }

            @media(min-width: 1280px) {
                height: 95vh;
            }

            @media(min-width: 1440px) {
                height: 125vh;
            }
        }
    }
}


.healthy {
    background: $primary;
    height: max-content;
    position: relative;
    overflow: hidden;

    .healthy-lemon {
        position: absolute;
        width: 100vw;
        height: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        right: -50vw;
        top: 60%;
        transform: translate(0, -50%);

        img {
            animation: rotation 20s infinite linear;
        }
    }

    @keyframes rotation {
        from {
            -webkit-transform: rotate(0deg);
        }

        to {
            -webkit-transform: rotate(359deg);
        }
    }



}


section {
    min-height: 100vh;
    background: transparent;
    padding: 20px 0;

    &.hero-section {
        font-family: $font-fresh;
        color: #fff;
        display: flex;
        align-items: center;
        position: relative;

        @media(max-width: 640px) {
            align-items: flex-start;
            padding: 140px 0 0;
        }

        .splash {
            position: absolute;
            left: 5vw;
        }

        .title {
            font-size: 74px;
            line-height: 1;
            text-align: left;
            color: #fff;
        }

        .title--desc {
            font-size: 28px;
            color: $color-default-inverse;
        }

        @media(min-width: 463px) {
            .title {
                font-size: 122px;
            }

            .title--desc {
                font-size: 34px;
            }
        }

        @media(max-width : 640px) {
            z-index: 2;
        }

        @media(min-width: 768px) {
            .title {
                font-size: 152px;
            }

            .title--desc {
                font-size: 64px;
            }
        }

    }

    &.offer,
    .mobile-carousel-business {

        display: flex;
        justify-content: center;
        align-items: center;

        .im-height {
            @media(min-width: 1440px) {
                min-height: 310px;
            }
        }

        .containerX {
            @media(max-width:640px) {
                padding: 0 20px;
            }

            @media(min-width: 1440px) {
                width: 90vw;
                position: absolute;
                left: 50%;
                transform: translate(-50%);
            }
        }

        .title {
            font-size: 48px;
            color: $color-default;
            font-family: $font-fresh;

            @media(min-width: 640px) {
                font-size: 72px;
            }
        }

        a {
            color: #fff;

            &:hover {
                color: rgba($color: #fff, $alpha: .8);
                text-decoration: none;
            }
        }

        .single {
            border-radius: 30px;
            border: 1px solid $color-default;
            padding: 70px 0;
            cursor: pointer;

            @media(max-width:640px){
                padding: 25px 0;
            }

            &:hover {
                color: rgba($color: #fff, $alpha: .8);
                text-decoration: none;
            }

            h3 {
                font-weight: 600;
                font-size: 24px;

                @media(min-width: 992px) {
                    font-size: 34px;
                }

                @media(min-width: 1440px) {
                    font-size: 48px;
                }
            }

            .single-btn {
                font-size: 16px;
                font-weight: 600;
            }
        }

        .offer-desc {
            .desc-text {
                font-size: 18px;
                color: #000;
                font-weight: 600;

                @media(max-width: 514px) {
                    font-size: 13px;
                }
            }

            h4 {
                color: #000;
                font-size: 60px;
                font-family: $font-fresh;

                @media(max-width: 991px) {
                    font-size: 42px;
                }

                @media(max-width: 514px) {
                    font-size: 28px;
                }
            }
        }

    }

    &.work {

        min-height: auto;

        .splash {
            position: absolute;
            right: 9vw;
            bottom: 60vh;
        }

        .swiper-container {
            @media(min-width: 1024px) {
                height: 480px;
            }
        }

        .work-single {
            border-radius: 5px;

            img {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                width: 100%;
            }

            .work-head {
                display: flex;
                justify-content: space-between;
                padding: 20px;
                background: #fff;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;

                h3,
                div,
                a {
                    font-size: 16px;
                    color: #000;
                    font-weight: 600;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    align-items: center;

                    @media(min-width: 641px) {
                        font-size: 24px;
                    }
                }

                div,
                a {
                    color: #67cb2a;
                }
            }
        }
    }

    &.client {
        display: flex;
        align-items: center;

        .splash {
            position: absolute;
            left: 5vw;
            top: 50vh;
        }

        .single {
            background: #fff;
            border-radius: 5px;
            min-height: 120px;
            max-height: 120px;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;

            @media(min-width:641px) {
                min-height: 200px;
            }

            img {
                max-width: 100%;
            }
        }
    }

    &.contact {
        min-height: calc(100vh - 130px);
        display: flex;
        align-items: center;
    }
}


// universal 
// title
.title {
    font-family: $font-fresh;
    font-size: 48px;
    text-align: center;
    color: #000;

    @media(min-width: 641px) {
        font-size: 72px;
        text-align: left;
    }
}

// endtitle