.btn {
  &.btn-simple {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    transition: all .1s ease;
    animation-name: fadeInLeft;
    position: relative;
    height: 48px;

    div {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .svg-icon {
      transition: all .4s ease;

      &.oval {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-30%, -50%);
        height: 100%;
        width: 48px;

        path {
          fill: #67cb2a;
        }
      }

      &.arrow {
        position: absolute;
        top: 50%;
        right: -30px;
        transform: translate(0, -50%);
        height: 23px;
        width: 23px;
        margin-left: 20px;
      }
    }

    &:hover {

      font-weight: 500;

      .svg-icon {
        &.oval {
          height: 160%;
          width: 108px;
          // transform: translate(100%, -50%);
        }

        &.arrow {
          right: -50px;

          // path {
          //   fill: #67cb2a;
          // }
        }
      }
    }

    @media(min-width: 641px) {
      font-size: 16px;
    }

  }

  &.refresh-btn {
    position: fixed;
    right: 2.5rem;
    bottom: 2.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    max-width: 14.5rem;
    cursor: pointer;
    z-index: 3000;
    text-align: right;
    padding-bottom: 6.3rem;
    color: #000;
    transition: all ease;
    transition: transform 300ms;

    &.hide {
      transform: translateY(180px);
    }

    #reload {
      content: '';
      display: block;
      height: 5rem;
      width: 5rem;
      right: -5px;
      bottom: -5px;
      position: absolute;
      background: #67cb2a;
      background-repeat: repeat;
      background-image: none;
      background-size: auto;
      padding: 1rem;
      border-radius: 3rem;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 3rem;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 4C11.1634 4 4 11.1634 4 20C4 28.8366 11.1634 36 20 36C22.5354 36 24.9304 35.411 27.0582 34.3633L27.9418 36.1575C25.5452 37.3376 22.8485 38 20 38C10.0589 38 2 29.9411 2 20C2 10.0589 10.0589 2 20 2C29.9411 2 38 10.0589 38 20C38 22.3106 37.5642 24.5213 36.7697 26.5529L39.2097 25.8149L39.7887 27.7293L34.0457 29.4663L33.4849 27.6121L32.2109 23.7422L34.1107 23.1168L34.9583 25.6918C35.6312 23.9243 36 22.0061 36 20C36 11.1634 28.8366 4 20 4Z' fill='%23fff'/%3E%3C/svg%3E%0A");
    }
  }
}




/* Icon Forward */
.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.hvr-icon-forward:before {
  content: "\f138";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-icon-forward:hover:before,
.hvr-icon-forward:focus:before,
.hvr-icon-forward:active:before {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}