header {
    overflow: hidden;
}

.hero-text {
    h2 {
        margin-bottom: 50px;
    }

    .hero {
        position: relative;
    }

    .hero .hero-slide a:hover span {
        color: #033a71;
    }
}


.hero,
.slider {
    display: none;
    opacity: 0;

    .slick-list {
        @media(max-width: 640px) {
            padding: 0 20% 0 0;
        }
    }

    .carousel-arrow {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 99;

        &.left {
            left: -2px !important;
        }

        &.right {
            right: -2px !important;
        }

        .arrow {
            position: relative;
            width: 40px;
            height: 40px;
            background: #67cb2a;
            border-radius: 5px;

            @media(min-width:641px) {
                width: 50px;
                height: 50px;

                img {
                    width: 35px;
                }
            }

            &.prev {
                transform: rotate(180deg);

                img {
                    position: absolute;
                    width: 35px;
                    top: 50%;
                    left: 5px;
                    transform: translate(-50%, -50%);

                    @media(min-width:641px) {
                        width: 46px;
                    }
                }
            }

            &.next {

                img {
                    position: absolute;
                    width: 35px;
                    top: 50%;
                    left: 5px;
                    transform: translate(-50%, -50%);

                    @media(min-width:641px) {
                        width: 46px;
                    }
                }
            }
        }
    }

    &.slick-initialized {
        display: block;
        opacity: 1;
        transition: opacity .5s ease-out;
    }

    .hero-slide {
        display: flex !important;
        align-items: center;

        #e-wrapper {

            .slide-2 {
                width: 450px;
            }
        }

        img {
            width: 250px;
            margin-right: -15px !important;
            object-fit: cover;
            object-position: top center;
            margin-left: auto;

            @media(max-width: 640px) {
                width: 85%;
                margin-right: -98px !important;
            }

            @media(min-width: 641px) {
                width: 450px;
            }
        }

        img.img-big {
            width: 500px;

            @media(max-width: 640px) {
                width: 110%;
                position: absolute;
                left: 50%;
                transform: translate(-38%);
            }
        }

        .header-content {
            max-width: 100vw;
            width: 100%;
        }
    }

    .slide-content {
        padding: 10px 15px 10px 15px;

        .artist {
            position: relative;
            top: 50px;
            background: #67cb2a;
            width: 130px;
            height: 40px;

            .artist-name {
                font-size: 18px;
                position: absolute;
                top: 50%;
                transform: translate(10%, -50%);
                white-space: nowrap;
            }
        }

        .h1 {
            font-size: 62px;
        }
    }

    .slick-active .slide-content {
        animation-name: fadeInUpSD;
        animation-duration: 1s;
        opacity: 1;
        width: 100%;
        padding: 10px 15px 10px 15px;
    }

    .slick-dots {
        position: absolute;
        bottom: -0px;
        display: block;
        width: 100%;
        padding: 0;
        list-style: none;
        text-align: center;
    }

    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;

        &.slick-active button::before {
            color: #67cb2a;
        }
    }

    // .slick-active button {
    //     background: #d60e96;
    // }

    .slick-dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 20px;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        border-radius: 50%;
        border: 0;
        outline: none;
    }

    .slick-dots li button::before {
        font-size: 18px;
        color: #828282;
        opacity: 1;
    }


    .slick-slide {
        transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275);

        img {
            // &.mobile {
            //     opacity: .35
            // }

            &.dekstop {
                @media(max-width: 640px) {
                    display: none;
                    ;
                }
            }
        }

    }

    @media (max-width: 768px) {
        .hero-text .hero .hero-slide a {
            padding-top: 0.8rem;
        }

        .hero-text .hero .hero-slide a span {
            font-size: 20px;
            margin-top: 0.5rem;
        }

        .hero .hero-slide .header-content {
            // left: 50%;
            // -webkit-transform: translateX(-50%);
            // transform: translateX(-50%);
            margin: 0 auto;
        }
    }

    .hero-slide {
        height: 760px;

        @media(max-width: 640px) {
            height: 500px;
            display: flex;
            align-items: center;
        }
    }
}



/** Text Animation **/

.fadeInUpSD {
    -webkit-animation-name: fadeInUpSD;
    animation-name: fadeInUpSD;
}

/* Text Animation End **/

// mobile
.work-carousel-mobile {
    .slick-list {
        padding: 0 0% 0 0;
        overflow: visible;
    }

    .work-single {
        width: 100%;
        padding-right: 20px;
    }

    img {
        max-width: 100%;
    }
}


// 2

.work-carousel {

    position: relative;
    z-index: 2;
    display: none;
    opacity: 0;

    &.slick-initialized {
        display: block;
        opacity: 1;
        transition: opacity .5s ease-out;
    }


    .fadeInUpSD {
        -webkit-animation-name: fadeInUpSD;
        animation-name: fadeInUpSD;
    }

    .slick-active .work-single {
        animation-name: fadeInUpSD;
        animation-duration: 1s;
        opacity: 1;
        padding: 10px 20px 30px 0;
    }

    .slick-prev {
        left: 50px;
        z-index: 2;
    }

    .slick-next {
        right: 50px;
    }

    .prevSlide {
        @media(min-width: 641px) {
            .work-single {
                left: 90%;
            }
        }
    }

    .nextSlide {
        @media(min-width: 641px) {
            .work-single {
                left: 10%;
            }
        }
    }

    .slick-slide {
        opacity: 0.3;
        height: 290px;

        @media(min-width:488px) {
            height: 550px;
        }

        &.slick-current {
            position: relative;
            z-index: 1;
            opacity: 1;

            @media(min-width: 641px) {
                scale: 1.2;
            }
        }

        >div {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    .work {
        &-single {
            width: 75%;
            position: relative;
            left: 50%;
            transform: translate(-50%);
            // transition: all 2s ease;

            @media(min-width: 1024px) {
                width: 40%;
            }

            img {
                width: 100%;
                cursor: pointer;
            }
        }

        &-title {
            width: 100%;
            padding: 10px;
            display: flex;
            align-content: center;
            padding: 20px;
            background: #fff;
            color: #1f1d1c;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

            h5 {
                display: inline-block;
                margin: 0;
            }

            a {
                padding: 0;
                margin-left: auto;
            }
        }
    }
}





.mobile-carousel-business,
.mobile-carousel-market {
    .slick-list {
        padding: 0 20% 0 0;
        overflow: visible;
    }

    .mobile-carousel-single {
        padding-right: 20px;

        .point {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }
}



.hero,
.slider,
.work-carousel,
.ss-holder {

    .carousel-arrow {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 99;

        &.left {
            left: 0;
            z-index: 1;
        }

        &.right {
            right: 0;
        }

        .arrow {
            position: relative;
            width: 40px;
            height: 40px;
            background: rgba($color: #fff, $alpha: .07);
            border-radius: 5px;

            @media(min-width:641px) {
                width: 50px;
                height: 50px;

                img {
                    width: 35px;
                }
            }

            &.prev {
                transform: rotate(180deg);

                img {
                    position: absolute;
                    width: 35px;
                    top: 50%;
                    left: 5px;
                    transform: translate(-50%, -50%);

                    @media(min-width:641px) {
                        width: 46px;
                    }
                }
            }

            &.next {

                img {
                    position: absolute;
                    width: 35px;
                    top: 50%;
                    left: 5px;
                    transform: translate(-50%, -50%);

                    @media(min-width:641px) {
                        width: 46px;
                    }
                }
            }
        }
    }
}

.ss-holder {
    .carousel-arrow {
        .arrow {
            background: #333 !important;
        }
    }
}

.hero {
    &.mobile {
        opacity: .35
    }
}

.work-carousel {
    .arrow {
        background: transparent;
    }
}

.hero {
    .slick-track {
        @media(max-width: 640px) {
            height: 550px;
        }
    }

    .slick-dots {
        @media(max-width: 640px) {
            bottom: -30px;
        }
    }

    .slick-slide {
        img {
            &.mobile {
                opacity: .35
            }

            &.dekstop {
                @media(max-width: 640px) {
                    display: none;
                    ;
                }
            }
        }
    }
}


// keyframe


@-webkit-keyframes fadeInUpSD {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUpSD {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}