html {
    font: 62.5%/1.6 $font-family-sans-serif;
    ;
}

body {
    background: #1f1d1c;
    color: #fff;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}


.cursor {
    @media(max-width: 991px) {
        display: none;
    }
}

.row-sm-small {
    @media(min-width: 768px) {
        padding: 0 100px;
    }
}

.bold-green {
    font-weight: 700;
    color: #67cb2a;
}

span {
    .bold-green {
        @media(max-width: 640px) {
            font-size: 14px;
        }
    }
}

.logo {
    font-weight: 600;
    font-size: 28px;
}

.text-outline {
    position: absolute;
    display: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: transparent;
    font-size: 90px;
    font-weight: 700;
    line-height: 1.3;
    z-index: -2;

    @media(min-width:641px) {
        font-size: 200px;
        display: block;
    }

    &.levelup {
        z-index: -1;
        top: -100px;
        right: 10px;
        bottom: 20px;
        width: 250px;
        display: block !important;

        @media(min-width: 641px) {
            right: 15vw;
        }
    }

    &.weare {
        position: relative;
        opacity: .6;
        z-index: 1;
        line-height: 1;

        @media(max-width: 640px) {
            display: block;
            font-size: 74px;
            line-height: 2;
        }
    }

    &.webelieve {
        line-height: 1;
        opacity: .2;
        left: -7%;
        top: 50px;
    }

    &.business {
        top: 6%;
        opacity: .35;
        right: 200px;
    }

    &.brandaspect {
        top: 28%;
        left: -20%;
        line-height: 1;
        opacity: .2;
    }

    &.marketaspect {
        top: 210px;
        left: 30%;
        line-height: 1;
        opacity: .2;
    }

    &.communication {
        line-height: 1;
        opacity: .1;
        z-index: -2;
        left: 0;
        top: 10%;
    }

    &.sectionactive {
        font-size: 140px;
        top: 10px;
        left: 10%;
        opacity: .2;
    }

    &.deliver {
        line-height: 1;
        opacity: .1;
        z-index: -2;
        right: 100px;
        top: 10%;
    }

    &.services {
        opacity: .1;
        top: 0;
        right: -20%;
        line-height: 1;
    }

    &.work {
        opacity: .2;
        top: -40px;
        left: -13%;
        transform: translate(-50%);
    }

    &.client {
        top: 120px;
        opacity: .2;
        right: -45%;
        text-align: center;
    }

    &.contact {
        z-index: 1;
        left: -70%;
        top: -12%;
        opacity: .7;
    }
}

.mb {
    &-small {
        margin-bottom: 20px !important;
    }

    &-med {
        margin-bottom: 40px !important;
    }

    &-big {
        margin-bottom: 70px !important;
    }
}

.f-23-bold {
    font-size: 16px;
    font-weight: 700;

    @media(min-width: 641px) {
        font-size: 23px;
    }
}

.f-16 {
    font-size: 14px;
    font-weight: 500;

    @media(min-width: 641px) {
        font-size: 16px;
    }
}

.w-md-70 {
    @media(min-width: 992px) {
        width: 70%;
    }
}

.w-md-90 {
    @media(min-width: 992px) {
        width: 90%;
    }
}

.my-d-none {
    display: none;
}


canvas {
    position: fixed;
    z-index: -13;
    opacity: .7;
}



.atom {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    position: absolute;
    border-radius: 50%;
    padding: 0;
    opacity: .4;
    z-index: -1;
    transition: ease-out;
}


.mobile {
    @media(min-width: 641px) {
        display: none !important;
    }
}

.dekstop {
    display: none;

    @media(min-width: 641px) {
        display: block;
    }
}

.position-relative {
    z-index: 1;
}



.modal-dialog {
    max-width: 800px;
    margin: 140px auto;
}



.modal-body {
    position: relative;
    padding: 0px;
}

.close {
    position: absolute;
    right: -50px;
    top: -50px;
    z-index: 999;
    font-size: 7rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
}

.modal-backdrop {
    &.fade {
        &.show {
            // display: none;
        }
    }
}