#e-wrapper {
    opacity: .8;

    // --------------------------------
    // e: element section 
    // e : element section
    // e : element section
    // e : element section
    // --------------------------------


    // section believe slider
    .eb {
        &-top-left {
            position: absolute;
            background-image: url(../img/oval.png);
            background-size: contain;
            width: 120px;
            background-repeat: no-repeat;
            right: 310px;
            top: -90px;
            height: 200px;
            transform: rotate(180deg);
            z-index: 1;

            @media(max-width: 927px) {
                display: none;
            }
        }

        &-top-right {
            position: absolute;
            background-image: url(../img/oval-outline.png);
            background-size: contain;
            width: 390px;
            background-repeat: no-repeat;
            top: -60px;
            right: -50px;
            height: 400px;
            z-index: -1;

            @media(max-width: 927px) {
                display: none;
            }
        }
    }

    .eb-s2 {
        &-outline {
            position: absolute;
            background-image: url(../img/slide-2-outline.png);
            background-size: contain;
            width: 410px;
            background-repeat: no-repeat;
            top: -140px;
            right: 40px;
            height: 340px;
            z-index: -1;

            @media(max-width: 927px) {
                display: none;
            }
        }

        &-react {
            position: absolute;
            background-image: url(../img/slide-2-react.png);
            background-size: contain;
            width: 100px;
            background-repeat: no-repeat;
            bottom: -40px;
            right: 40px;
            height: 100px;
            z-index: 1;

            @media(max-width: 927px) {
                display: none;
            }
        }
    }

    .eb-s3 {
        &-outline {
            position: absolute;
            background-image: url(../img/slide-3-outline.png);
            background-size: contain;
            width: 250px;
            background-repeat: no-repeat;
            top: -90px;
            right: -10px;
            height: 260px;
            z-index: -1;

            @media(max-width: 927px) {
                display: none;
            }
        }

        &-fill {
            position: absolute;
            background-image: url(../img/slide-3-fill.png);
            background-size: contain;
            width: 140px;
            background-repeat: no-repeat;
            bottom: -140px;
            right: 250px;
            height: 260px;
            z-index: 1;

            @media(max-width: 927px) {
                display: none;
            }
        }
    }

    .eb-s4 {
        &-outline {
            position: absolute;
            background-image: url(../img/flies-moon-outline.png);
            background-size: contain;
            width: 360px;
            background-repeat: no-repeat;
            top: -90px;
            right: 40px;
            height: 340px;
            z-index: -1;

            @media(max-width: 927px) {
                display: none;
            }
        }

        &-fill {
            position: absolute;
            background-image: url(../img/oval.png);
            background-size: contain;
            width: 140px;
            background-repeat: no-repeat;
            bottom: 50px;
            right: 160px;
            height: 260px;
            z-index: 1;

            @media(max-width: 927px) {
                display: none;
            }
        }
    }



    // end slide

    .ebm {
        &-bottom-left {
            position: absolute;
            background-image: url(../img/flies-emb-bot-left.png);
            background-size: contain;
            width: 100px;
            background-repeat: no-repeat;
            bottom: 40px;
            left: 100px;
            height: 120px;
            z-index: -1;

            @media(max-width: 927px) {
                display: none;
            }
        }
    }

    // brand aspects 
    .eba {
        &-top-left {
            position: absolute;
            background-image: url(../img/flies-eba-top-left.png);
            background-size: contain;
            width: 100px;
            background-repeat: no-repeat;
            top: 40px;
            left: 240px;
            height: 120px;
            z-index: -1;

            @media(max-width: 927px) {
                display: none;
            }
        }

        &-bot-right {
            position: absolute;
            background-image: url(../img/flies-eba-top-left.png);
            background-size: contain;
            width: 100px;
            background-repeat: no-repeat;
            bottom: 170px;
            right: 240px;
            height: 100px;
            z-index: -1;

            @media(max-width: 927px) {
                display: none;
            }
        }
    }

    // market aspects

    .ema {
        &-top-right {
            position: absolute;
            background-image: url(../img/bermuda-flies-1.png);
            background-size: contain;
            width: 290px;
            background-repeat: no-repeat;
            top: -60px;
            right: -180px;
            height: 220px;
            z-index: -1;

            @media(max-width: 927px) {
                display: none;
            }
        }

        &-bot-left {
            position: absolute;
            background-image: url(../img/bermuda-flies-2.png);
            background-size: contain;
            width: 160px;
            background-repeat: no-repeat;
            bottom: -230px;
            left: -40vw;
            height: 160px;
            z-index: -1;

            @media(max-width: 927px) {
                display: none;
            }
        }
    }

    .ec {
        &-bot-left {
            position: absolute;
            background-image: url(../img/oval.png);
            background-size: contain;
            width: 100px;
            background-repeat: no-repeat;
            bottom: -33vh;
            left: -3vw;
            height: 120px;
            z-index: -1;

            @media(max-width: 927px) {
                display: none;
            }
        }
    }

    .ed {
        &-top-left {
            position: absolute;
            background-image: url(../img/oval.png);
            background-size: contain;
            width: 100px;
            background-repeat: no-repeat;
            top: 42vh;
            right: 60vw;
            height: 120px;
            z-index: -1;
            opacity: .5;

            @media(max-width: 927px) {
                display: none;
            }
        }

        &-bot-right {
            position: absolute;
            background-image: url(../img/oval.png);
            background-size: contain;
            width: 100px;
            background-repeat: no-repeat;
            bottom: 40vh;
            right: 10vw;
            height: 120px;
            z-index: -1;
            opacity: .5;

            @media(max-width: 927px) {
                display: none;
            }
        }
    }

    .c {
        &-top-right {
            position: absolute;
            background-image: url(../img/oval.png);
            background-size: contain;
            width: 100px;
            background-repeat: no-repeat;
            bottom: 40vh;
            right: 10vw;
            height: 120px;
            z-index: -1;
            opacity: .5;

            @media(max-width: 927px) {
                display: none;
            }
        }

        &-top-right-2 {
            position: absolute;
            background-image: url(../img/flies-moon-outline.png);
            background-size: contain;
            width: 210px;
            background-repeat: no-repeat;
            bottom: 36vh;
            right: -3vw;
            height: 210px;
            z-index: -1;
            opacity: .5;

            @media(max-width: 927px) {
                display: none;
            }
        }
    }
}