footer {
    position: relative;
    overflow: hidden;
    // z-index: 9999;
}

.we-are-fresh {
    background: $primary;
}

.contact {
    .container-top {
        h4 {
            text-align: left;
            .footer-cta {
                position: relative;
                display: flex;
                align-items: center;
                text-align: left;
    
                span {
                    position: absolute;
                    background: #67cb2a;
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    z-index: 1;
                    left: -14px;
                }
    
                a {
                    font-family: $font-family-sans-serif;
                    text-decoration: underline;
                    color: #000;
                    font-size: 24px;
                    font-weight: 600;
                    z-index: 2;
    
                    &:hover {
                        color: #333;
                    }
                }
            }
        }
    
        .input-field {
            position: relative;
            margin: 0 0 8px;
            overflow: hidden;
    
            >label {
                color: #9e9e9e;
                position: absolute;
                top: 0;
                left: 0;
                font-size: 1rem;
                cursor: text;
                transition: transform .2s ease-out, color .2s ease-out;
                transform-origin: 0 100%;
                text-align: initial;
                transform: translateY(-25px) !important;
    
            }
    
            input {
                background: #fff !important;
                padding-left: 25px !important;
                padding-right: 25px !important;
                width: 100% !important;
                border-radius: 6px !important;
                height: 48px !important;
                font-size: 16px !important;
                border: 0;
                color: rgba($color: #000, $alpha: 0.4);
            }
    
            .helper-text {
                position: relative;
                min-height: 18px;
                display: block;
                font-size: 12px;
                color: rgba(0, 0, 0, .54);
            }
    
            textarea {
                width: 100%;
                background: #fff !important;
                padding-left: 25px !important;
                padding-right: 25px !important;
                padding-top: 16px;
                border-radius: 6px !important;
                min-height: 180px !important;
                font-size: 16px !important;
                margin-bottom: 6px;
                border: 0;
                color: rgba($color: #000, $alpha: 0.4);
                line-height: 24pt;
            }
        }
    
        .btn-footer {
            height: 54px;
            line-height: 54px;
            font-size: 15px;
            padding: 0 28px;
            font-weight: 600;
            border: 1px solid #fff;
            border-radius: 4px;
            background: transparent;
            color: #fff;
            line-height: 50px;
            text-transform: capitalize;
            padding-left: 35px;
            padding-right: 35px;
            min-width: 28%;
    
            &:hover {
                background: #fff;
                color: #333;
            }
        }
    
    }
    
    .title-footer {
        font-size: 42px;
        font-weight: 600;
    }
    
    ul {
        font-family: $font-fresh;
        color: #000;
        padding-left: 50px;
        list-style: none;
    
        li {
            position: relative;
            margin-bottom: 24px;
    
            i {
                font-size: 32px;
                position: absolute;
                left: -54px;
                top: -2px;
            }
    
            a {
                color: #000;
    
                &:hover {
                    color: #333;
                    text-decoration: none;
                }
            }
    
            span {
                font-size: 16px;
                font-weight: 500;
    
                strong {
                    font-size: 18px;
                }
                @media(min-width: 1280px) {
                    font-size: 21px;
                    strong {
                        font-size: 24px;
                    }
                }
            }
        }
    }
    
    
}

.container-small {
    // padding: 80px 40px 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0 45px;

    @media(max-width: 640px) {
        height: 35vh;
        padding: 0 30px;
    }

    .title {
        font-size: 26px;
        font-weight: 600;

        @media(min-width: 768px) {
            font-size: 62px;
        }
    }

    .line {
        color: #fff;
        align-self: flex-start;
        font-weight: 400;
        font-size: 26px;

        @media(min-width: 641px) {
            font-size: 62px;
        }
    }
}

.container-bottom {
    position: relative;
    padding: 40px 0;
    border-top: 1px solid rgba($color: #fff, $alpha: 0.4);

    @media(max-width: 640px) {
        width: 90%;
    }

    .logo-footer {
        display: flex;
        align-items: center;
        color: #000;

        h1 {
            font-size: 18px;
            font-weight: 600;

            @media(min-width: 768px) {
                font-size: 36px;
            }
        }

        span {
            margin-left: 20px;
            font-weight: 600;
        }

    }

    span {
        // right: 0;
        // position: absolute;
        // left: 0;
        // top: 0;
        // bottom: 0;
        // display: flex;
        // justify-content: flex-end;
        // align-items: center;
        font-size: 16px;
        font-weight: 500;
        margin-left: 0;

        @media(max-width: 640px) {
            text-align: center;
            margin: 0 auto;
            font-size: 12px;
        }
    }

    // .social {
    //     display: inline-block;
    //     position: absolute;
    //     right: 0;

    //     ul {
    //         margin: 0;
    //         padding: 0;
    //         list-style: none;
    //         display: flex;
    //         flex-direction: row;
    //         font-size: 28px;

    //         li:not(:last-child) {
    //             margin-right: 40px;
    //         }
    //     }
    // }
}