.navbar-nav {
    li {
        position: relative;
    }

    .nav-item.active {
        font-weight: 600;
    }
}

.line {
    font-size: 24px;
    color: #67cb2a;
    font-weight: 600;
    text-decoration: underline;
}

.navbar-mobile {
    position: absolute;
    top: 5vh;
    margin: 0 auto;
    display: flex;
    align-items: end;
    z-index: 999;


    @media(min-width: 990px) {
        display: none;
    }


    .logo {
        color: #000;
        font-weight: 700;
    }

    .link.navbar-mobile-contact {
        text-align: left;
        padding: 2px 2rem;
        position: absolute;
        bottom: -150px;

        &.interest {
            color: #000;
            font-size: 16px;
        }

    }

    // .background,
    // .button {}

    @media(min-width: 992px) {
        display: none;
    }
}

.navbar-dekstop {
    @media(max-width: 991px) {
        display: none;
    }
}


.navbar--custom {
    position: absolute;
    top: 0;
    background: transparent;
    padding: 30px 0;
    width: 100%;
    height: 150px;
    font-size: 16px;
    padding: 10px;
    transition: transform 300ms;
    z-index: 2;

    &.hide {
        transform: translateY(-101px);
    }

    &.scrolled {
        position: fixed;
        background: rgba($color: #fff, $alpha: .3);
        z-index: 2;
        height: 80px;
        .navbar-brand.logo {
            font-size: 42px;
        }
    }

    .navbar-nav .nav-link {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        color: #000;
        font-family: $font-fresh;
        font-size: 24px;

        &:hover {
            color: #333;
        }

    }

    .navbar-brand.logo {
        font-size: 72px;
        font-weight: 700;
        color: $color-default-inverse;
    }

}







/* hamburger */
.checkbox {
    display: none;
}

.button {
    position: relative;
    background-color: white;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: fixed;
    top: 5vh;
    right: 5vw;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
}

.background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 5.5vh;
    right: 5.5vw;
    // background-image: radial-gradient(green, black);
    background: #fff;
    z-index: 1000;

    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

nav.navigation-mobile {
    height: 100vh;
    position: fixed;
    top: 0;
    right: -60vw;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s;
}

.list {
    font-family: $font-fresh;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.item {
    margin: 0;
    font-size: 42px;
    text-align: left;
}

.link:link,
.link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 5px 2rem;
    color: #333;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg,
            transparent 0%,
            transparent 50%,
            white 50%);
    background-size: 220%;
    transition: all 0.4s;
}

.link:hover,
.link:active {
    color: lightgreen;
    cursor: pointer;
}

/* functionality */
.checkbox:checked~ {


    .navigation-mobile {
        right: 0 !important;
        opacity: 1 !important;
        width: 100% !important;
    }

    .background {
        transform: scale(80);

    }

    .button {
        background: #000;
    }
}

.checkbox:checked~ {

    .levelup-logo {
        .logo {
            z-index: 9999 !important;
            position: fixed !important;
            color: black !important;
            top: 5vh !important;
        }
    }
}

/*  */
/* styling hamb ICON */
.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2.4rem;
    transform: translate(-50%, -50%);
    transition: all 0.4s;
}

.icon,
.icon::before,
.icon::after {
    width: 2.3rem;
    height: 2px;
    background-color: black;
    display: inline-block;
}

.icon::before,
.icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s;
}

.icon::before {
    top: -0.8rem;
}

.icon::after {
    top: 0.8rem;
}

.button:hover icon:before {
    top: -1rem;
}

.button:hover icon::after {
    top: 1rem;
}

.checkbox:checked+.button .icon {
    background-color: transparent;
}

.checkbox:checked+.button .icon::before {
    background-color: #fff;
    top: 0;
    transform: rotate(135deg);
}

.checkbox:checked+.button .icon::after {
    background-color: #fff;
    top: 0;
    transform: rotate(-135deg);
}