.swiper-container {
    width: 100%;
    height: 500px;
    margin: 20px auto;

    .carousel-arrow {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 99;

        &.left {
            left: 0 !important;
            z-index:12;
        }

        &.right {
            right:0 !important;
        }

        .arrow {
            position: relative;
            width: 100px;
            height: 100px;
            background: #67cb2a;
            border-radius: 50%;

            @media(min-width:641px) {
                width: 70px;
                height: 70px;

                img {
                    width: 30px;
                }
            }

            &.prev,
            &.next {
                img {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            &.prev {
                transform: rotate(180deg);

                img {
                    position: absolute;
                    width: 35px;
                    top: 50%;
                    left: 50%;
                    // transform: translate(-50%, -50%), rotate(180deg);
                    cursor: pointer;
                }
            }

            &.next {
                img {
                    position: absolute;
                    width: 35px;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    cursor: pointer;
                    left: 50%;
                }
            }
        }
    }
}

.swiper-slide {
    scale: .4;
    opacity: .35;

    @media(min-width: 768px) {
        scale: .8;
    }

    &.swiper-slide-active {
        scale: .5;
        opacity: 1;
        z-index: 1;

        @media(min-width: 768px) {
            scale: 1;
        }
    }
}

.swiper-slide-container {
    text-align: center;
    font-size: 18px;
    height: 100%;
    max-width: 600px;
    margin: auto;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-next {
    &::after {
        content: "" !important;
    }
}