.nav-tabs {
    display: flex;
    flex-direction: column;
    border: none;
    font-size: 18px;
    font-weight: 600;

    @media(min-width: 641px) {
      font-size: 26px;
    }

    .nav-link {
        color: #fff;
        opacity: .5;
        position: relative;
        white-space: nowrap;

        &.active {
            background-color: transparent;
            color: #fff;
            opacity: 1;
            border: none;
            &::after {
                content: '';
                display: inline-block;
                position: absolute;
                bottom: 0;
                left: 100px;
                background: #67cb2a;
                width: 90px;
                height: 3px;
            }
        }

        &:hover {
            border: none;
            opacity: 1;
        }
    }
}


// 2

.slider{
    width:600px;
    margin:20px auto;
    text-align: center;
    padding:20px;
    color:white;
    
    .slide{
      padding:40px;
      .child-element{
        transition: all .2s ease;
        background: red;
        width:100%;
        height:70px;
      }
      &.slick-center{
        .child-element{
          background: rebeccapurple;
          transform: translate(-70px,0px);
          width: calc(100% + 140px);
          max-width: initial;
        }
      }
    }
  }