// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap');

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-fresh: 'Caveat Brush', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
$text-color: #666;

// Colors
$primary: #e3bd02;
$color-default: #fff;
$color-default-inverse: #000;

$color-muted: #999;

$color-primary: #53b577;
$color-primary-inverse: #FFF;

$color-secondary: #E36159;
$color-secondary-inverse: #FFF;

$color-success: #47a447;
$color-success-inverse: #FFF;

$color-info: #5bc0de;
$color-info-inverse: #FFF;

$color-warning: #ed9c28;
$color-warning-inverse: #FFF;

$color-danger: #d2322d;
$color-danger-inverse: #FFF;

// Header
$header-height: 80px;
$header-text-color: #ccc;
$header-font-size: 18px;


// Include Specific Modules
@import "mixins";
@import "maps";