<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- description -->
  <meta name="description"
    content="Yet another Fresh &amp; Healthy Digital &amp; Creative Partner, Want to levelup, but mediocre at everything!">
  <meta name="keywords" content="Creative, Strategic, Digital Marketing, Newbie, Partner, Business, Solutions, levelup">
  <!-- open graph / facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://levelup.id">
  <meta property="og:title" content="LevelUp Digital &amp; Creative Partner">
  <meta property="og:description" content="Yet another Fresh &amp; Healthy Digital &amp; Creative Partner, Want to levelup, but mediocre at everything!">
  <meta property="og:image" content="https://levelup.id/img/website-og.jpg">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:image:alt" content="LevelUp Digital &amp; Creative Partner">
  <!-- twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="http://levelup.id">
  <meta property="twitter:title" content="LevelUp Digital &amp; Creative Partner">
  <meta property="twitter:description" content="Yet another Fresh &amp; Healthy Digital &amp; Creative Partner, Want to levelup, but mediocre at everything!">
  <meta property="twitter:image" content="http://levelup.id/img/website-og.jpg">



  <title>
    LevelUp
  </title>
  <link rel="stylesheet" href="css/app.css" />
  <link rel="stylesheet" id="fontawesome-css" href="css/font-awesome/css/font-awesome.css" type="text/css" media="all">
  <link rel="stylesheet" id="prettyPhoto-css" href="css/prettyPhoto.css" type="text/css" media="all">
  <link rel="stylesheet" id="flexslider-css" href="css/flexslider.css" type="text/css" media="screen">
  <link rel="stylesheet" id="mainstyle-css" href="css/style.css" type="text/css" media="all">
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">



  {% block styles %} {% endblock %}
</head>

<body>
  {% include "partials/header.html" %} {% include "partials/preloader.html" %}
  {% block content %} {% endblock %} {% include "partials/footer.html" %}


  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">


        <div class="modal-body">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
              allow="autoplay"></iframe>
          </div>


        </div>

      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">


        <div class="modal-body">

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="" id="gslide" frameborder="0" width="482" height="300"
              allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" allowscriptaccess="always"
              allow="autoplay"></iframe>
          </div>


        </div>

      </div>
    </div>
  </div>



  <!-- slider 3d -->
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/jquery-migrate.min.js"></script>
  <script type="text/javascript" src="js/modernizr.custom.79639.js"></script>
  <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
  <script type="text/javascript" src="js/all-functions.js"></script>
  <script type="text/javascript" src="js/classList.js"></script>
  <script type="text/javascript" src="js/bespoke.js"></script>
  <script type="text/javascript" src="js/jquery.flexslider.js"></script>
  <script src="js/app.js"></script>

  <script>
    $(window).scroll(function () {
      var theta = $(window).scrollTop() / 100 % Math.PI;
      $('#reload').css({
        transform: 'rotate(' + theta + 'rad)'
      });
    });

  </script>

  <script src="https://unpkg.com/swiper/js/swiper.js"></script>
  <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>



  {% block scripts %} {% endblock %}
</body>

</html>
